<% form_for @page do |f| %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
	<p>
	  <%= f.label :importance %><br />
	  <%= f.text_field :importance %>
	</p>
	<p>
		<%= f.label :clouded %><br />
	  <%= f.select(:clouded, [["Yes",true],["No",false]]) %>
	</p>
  <p>
    <%= f.label :content %><br />

  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
