  <p><%= form_for @page do |f| %>

    <%= f.label :title %><br />
    <%= f.text_field :title %>

	  <%= f.label :importance %><br />
	  <%= f.text_field :importance %>

		<%= f.label :clouded %><br />
	  <%= f.select(:clouded, [["Yes",true],["No",false]]) %>

    <%= f.label :content %><br />
    <%= f.bootsy_area :content, size: "100x30" %>

<%= f.submit "Submit" %>
<% end %>  </p>
