<div class="col-lg-12 col-md-12 col-sm-12">
<div class="im-centered">
<p>
<div id="page_title"><h2><%=@page.title%></h2></div>
<div id="page_content"><%=raw @page.content %></div>
</p>
<p>
<% if logged_in? %>
  <%= link_to "Edit", edit_page_path(@page) %> |
  <%= link_to "Destroy", @page, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", pages_path %>
<%end%>
</p>
</div>

<% for post in @posts %>
<div class="im-centered">
<h3 class="entrydate"><%= post.created_at.strftime("%d") %><%= post.created_at.strftime("%B%Y") %>
<%= link_to post.title, post %></h3>
<%=raw post.content %>
<%=raw post.contentlong %>
</div><div class="im-centered">
<div id="time_and_author">Tags:
<%post.tags.each do |t|%>
<%= link_to t, tagged_path(:tagg=>t.to_s)%>
<%end%>
</div></div>
<div class="im-centered">

		<% if logged_in? %>

	<div id="loggedin">
			<%= link_to "Show", post %>
			 |
	      <%= link_to "Edit", edit_post_path(post) %> |
				<%= link_to "Destroy", post, :confirm => 'Are you sure?', :method => :delete %>
			</div>

		<%end%>
		<br>
</div>

<% end %>
<br>



</div>

&nbsp;
