<% for post in @posts %>
<div class="col-lg-6 col-md-6 col-sm-9">
  <div class="bs-component">
    <h3><%= post.created_at.strftime("%d") %><%= post.created_at.strftime("%B%Y") %>
        <%= link_to post.title, post %></h3>

        <%=raw post.content %>

		<div id="time_and_author">Tags:
		<%post.tags.each do |t|%>
		  <%= link_to t, tagged_path(:tagg=>t.to_s)%>
		<%end%>
		</div>

	<% if logged_in? %>

    <div id="loggedin">
		<%= link_to "Show", post %>
		 |
      <%= link_to "Edit", edit_post_path(post) %> |
			<%= link_to "Destroy", post, :confirm => 'Are you sure?', :method => :delete %>
		</div>

	<%end%>
	<br>
</div>
</div>
<% end %>

<br>
<div class="col-lg-12 col-md-12 col-sm-12">

<div id="post_content"><br><br>
<%= will_paginate @posts %>
</div>
</div>
